## EDA :Explorative data analysis :


Fill this note wehere you see `your code here`

In [11]:
import pandas as pd

In [ ]:
# Read a comma-separated values (csv) file into DataFrame using `read_csv` method
filepath = "../datastores/raw_data/census.csv"

df = pd.read_csv(filepath)

In [ ]:
## Return the first n rows using `head` method
# your code here

In [ ]:
# Returns the last n rows using `tail` method
# your code here

In [ ]:
# Print a concise summary of a DataFrame using ìnfo` method
## your code here

In [ ]:
# Retrun the column labels of the DataFrame using `columns` method
## your code here

In [ ]:
#  removes any leading or trailing whitespace from all column names in the DataFrame 
 df.columns = df.columns.str.strip()

In [ ]:
# check the updated column names
# your code here

In [ ]:
# Return number of duplicate rows using `duplicated` and `sum` method
## your code here

np.int64(24)

In [ ]:
# Return DataFrame with duplicate rows removed using `drop_duplicates` method
## your code here

In [ ]:
# Return DataFrame with duplicate rows removed
## your code here

In [ ]:
# Detect missing values : return number missing for each column in dataframe
# by using ìsna` and `sum` method
## your code here

In [16]:
df.columns = df.columns.str.strip()
df.columns.values.tolist()

['age',
 'workclass',
 'fnlgt',
 'education',
 'education-num',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country',
 'salary']

In [17]:
df.columns.tolist()

['age',
 'workclass',
 'fnlgt',
 'education',
 'education-num',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country',
 'salary']